.main-area {
    width: 1000px;
}

main {
    min-height: 100dvh;
}

.hero {
    width: 100%;
    height: 500px;
    
}

.hero img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}

.search-section {
    margin-top: 10px;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.pagination {
    border: 2px solid black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination:hover {
    cursor: pointer;
}

.pagination span {
    margin: 5px;
}