.main-area {
    width: 1000px;
}

main {
    min-height: 100dvh;
}

.hero {
    width: 100%;
    height: 500px;
    
}

.hero img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.pagination {
    background-color: #44c3d0;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s;
}

.pagination:hover {
    opacity: 0.5;
    cursor: pointer;
    font-size: 15px;
}

.pagination span {
    margin: 5px;
}