.nav-style {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.dot {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: red;
}